@import url(./__cell-item/__cell-item.css);
@import url(./__cell-item-link/__cell-item-link.css);
@import url(./__cell-item-span/__cell-item-span.css);
@import url(./__cell-item-span/_rotate/_rotate.css);
@import url(./__cell-item-span/_color/_color.css);
@import url(__cell-item-1/__cell-item-1.css);
@import url(__cell-item-1-link/__cell-item-1-link.css);
@import url(./__cell-item-2/__cell-item-2.css);
@import url(./__cell-item-2-link/__cell-item-2-link.css);
@import url(./__cell-item-3/__cell-item-3.css);
@import url(./__cell-item-3-link/__cell-item-3-link.css);
@import url(./__cell-item-4/__cell-item-4.css);
@import url(./__cell-item-4-link/__cell-item-4-link.css);
@import url(./__cell-item-5/__cell-item-5.css);
@import url(./__cell-item-5-link/__cell-item-5-link.css);
@import url(./__cell-item-6/__cell-item-6.css);
@import url(./__cell-item-6-link/__cell-item-6-link.css);
@import url(./__cell-item-7/__cell-item-7.css);
@import url(./__cell-item-7-link/__cell-item-7-link.css);
@import url(./__cell-item-8/__cell-item-8.css);
@import url(./__cell-item-8-link/__cell-item-8-link.css);
@import url(./__cell-item-9/__cell-item-9.css);
@import url(./__cell-item-9-link/__cell-item-9-link.css);
@import url(./__cell-item-10/__cell-item-10.css);
@import url(./__cell-item-10-link/__cell-item-10-link.css);
@import url(./__cell-item-11/__cell-item-11.css);
@import url(./__cell-item-11-link/__cell-item-11-link.css);
@import url(./__cell-item-12/__cell-item-12.css);
@import url(./__cell-item-12-link/__cell-item-12-link.css);
@import url(./__cell-item-13/__cell-item-13.css);
@import url(./__cell-item-13-link/__cell-item-13-link.css);
@import url(./__cell-item-14/__cell-item-14.css);
@import url(./__cell-item-14-link/__cell-item-14-link.css);
@import url(./__cell-item-15/__cell-item-15.css);
@import url(./__cell-item-15-link/__cell-item-15-link.css);
@import url(./__cell-item-16/__cell-item-16.css);
@import url(./__cell-item-16-link/__cell-item-16-link.css);
@import url(./__cell-item-17/__cell-item-17.css);
@import url(./__cell-item-17-link/__cell-item-17-link.css);
@import url(./__cell-item-18/__cell-item-18.css);
@import url(./__cell-item-18-link/__cell-item-18-link.css);
@import url(./__cell-item-19/__cell-item-19.css);
@import url(./__cell-item-19-link/__cell-item-19-link.css);
@import url(./__cell-item-20/__cell-item-20.css);
@import url(./__cell-item-20-link/__cell-item-20-link.css);

.grid {
  min-height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-gap: 10px;
  padding: 30px 30px;
}
